@font-face {
  font-family: "Prompt";
  src: url("./Prompt-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "Prompt";
  src: url("./Prompt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Prompt";
  src: url("./Prompt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}